#!/bin/sh
set -ev

# pyenv-recommended python dependencies:
# https://github.com/pyenv/pyenv/wiki#suggested-build-environment

# By default, dependencies are updated.
SKIP_DEPS=${SKIP_DEPS:-0}

# install platform-specific packages
if [ $SKIP_DEPS -eq 0 ] ; then
    case $OSTYPE in
        linux*)
            if [ -f "/etc/debian_version" ]; then
                sudo apt-get update
                sudo apt-get install -y make build-essential libssl-dev \
                    zlib1g-dev libbz2-dev libreadline-dev libsqlite3-dev wget \
                    curl llvm libncursesw5-dev xz-utils tk-dev libxml2-dev \
                    libxmlsec1-dev libffi-dev liblzma-dev # python deps
            else
                echo "Automatic dependency installation not supported for your " \
                     "flavor of Linux. Please install dependencies manually."
            fi
            ;;
        darwin*)
            if [ xcode-select -p > /dev/null 2>&1 ]; then
                echo "Installing XCode CLI. This may take a while...\n"
                xcode-select --install
            fi
            if [ which brew  > /dev/null 2>&1 ]; then
                echo "Installing Homebrew. This may take a while...\n"
                /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/" \
                                            "Homebrew/install/HEAD/install.sh)"
            fi
            brew install openssl readline sqlite3 xz zlib tcl-tk # python deps
            ;;
        *)
            echo "Automatic dependency installation not supported for your OS." \
                 "Please install dependencies manually."
            exit 1
            ;;
    esac
fi

# activate pyenv and install if not exists
eval "$(pyenv init -)"
eval "$(pyenv virtualenv-init -)"
if [ ! "$(pyenv --version)" ] ; then
    curl https://pyenv.run | bash
    eval "$(pyenv init -)"
    eval "$(pyenv virtualenv-init -)"
fi

pyenv install {{python_version}} -s
pyenv virtualenv {{python_version}} {{package_name}}
./update-deps.sh

pyenv activate {{package_name}}

git init
pre-commit install
